.idea
tools
__pycache__
temp.py
data/id_objects
data/crops.zip
data/global_id_v0.txt
data/global_id_v1.txt
data/preds
data/person
logs
temp_2.py
temp_3.py
temp_1.py
temp_5.py
single_image_ids.json
single_cam_results_0_2.pkl
data/new_cluster
data/global_ids_1
data/crops_single
data/feature_objects
data/metadata_objects
qdrant_storage
static/uploads
static/video_crop
static/videos
global_matching_results.pkl
new_clusters
