.idea
__pycache__
data
logs
data/new_cluster
data/global_ids_1
data/crops_single
data/feature_objects
data/metadata_objects
new_clusters
mot/models
mot/storage
qdrant_storage/
models/
/qdrant_storage/
